.container {
  width: 700px;
  background-color: whitesmoke;
  border: solid;
  border-width: 1px;
  border-color: rgb(184, 184, 184);
  border-radius: 8px;
}

p {
  font-family: Arial;
  margin: 16px;
}

.middle {
  box-sizing: border-box;
  width: 700px;
  background-color: white;
  padding: 25px;
}

h3 {
  font-family: Arial;
  margin: 0px;
}

button {
  background-color: rgb(0, 119, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}
